.nav {
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 0px;
    margin-top: 0px;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-content: center;
}

.dropdown-item:hover {
    background-color: #EAEAEA;
}

.dropdown-item {
    margin-right: 0px;
}

.nav-link {
    padding: 20px 30px;
    color: white;
    text-decoration: none;
}

.nav-link:active {
    color: white;
}

.nav-link-selected {
    background-color: #777777;
}

.dropdown-item.active {
    color: black;
    background-color: white;
}

.dropdown-item:focus {
    color: black;
}
.dropdown-item.active:hover {
    background-color: #EAEAEA;
}

.bg-dark-grey {
    background-color: #333333;
}


  