.update-button {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 30px);
    color: white;
}

#product-card img {
    width: 200px;
    height: 200px;
}

#store-items .card {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

